language: python
python:
- 2.7
- 3.6
install:
- make install
- make install-dev
script:
- make coverage
after_success:
- coveralls
deploy:
  provider: pypi
  user: kirill.konshin
  skip_upload_docs: true
  password:
    secure: L+GM30lUbOih41dAXh0fD4d3L0pcYtnvLVL9XRM2TnXJvGhh1o/jcxbMilTH8PxyMRvan+52spoJn1zZHVuzTMfrtsENT60VsvV+1nyvev07w0JaaS1OBlgeiOVTJIk7O7+/B6Jeu48e/tZMX22cdw28/WK5gMUwnPycZIMyKG4=
  on:
    python: 2.7
    tags: true
    repo: ringcentral/ringcentral-python
    branch: master
